<br/>
<div>
    <span>Title: {{movie.originalTitle}}</span>
</div>
<div>
    <span>Adult: {{movie.adult}}</span>
</div>
<div>
    <span>Overview: {{movie.overview}}</span>
</div>
<div>
    <span>Popularity: {{movie.popularity}}</span>
</div>
<div>
    <span>Vote Average: {{movie.voteAverage}}</span>
</div>
<div>
    <span>Original Language: {{movie.originalLanguage}}</span>
</div>
<div>
    <span>Vote Count: {{movie.voteCount}}</span>
</div>
<div>
    <span>Release Date: {{movie.releaseDate}}</span>
</div>
<div>
    <span>Video: {{movie.video}}</span>
</div>
<div>
    <span>BackdropPath: {{movie.backdropPath}}</span>
</div>