<table>
    <tr>
        <th>Title</th>
        <th>Adult</th>
        <th>Overview</th>
        <th>Popularity</th>
        <th>Vote Average</th>
        <th>Original Language</th>
        <th>Vote Count</th>
        <th>Release Date</th>
        <th>Video</th>
        <th>Backdrop Path</th>
    </tr>
    <tr *ngFor="let movie of movies">
        <td>{{movie.originalTitle}}</td>
        <td>{{movie.adult}}</td>
        <td>{{movie.overview}}</td>
        <td>{{movie.popularity}}</td>
        <td>{{movie.voteAverage}}</td>
        <td>{{movie.originalLanguage}}</td>
        <td>{{movie.voteCount}}</td>
        <td>{{movie.releaseDate}}</td>
        <td>{{movie.video}}</td>
        <td>{{movie.backdropPath}}</td>
    </tr>
</table>